<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()" [class.night]="nightMode" class="form">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Вхід</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
              Це поле <strong>обов'язкове</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Пароль"  formControlName="password">
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
              Це поле <strong>обов'язкове</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="error">
        <div class="col">
          <div class="mat-error">
            {{error}}
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="isSubmit" >Увійти</button>
    </mat-card-actions>
  </mat-card>
</form>
