.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-list.list-horizontal {
    padding: 0;
    .mat-list-item {
        display: inline-block;
        height: auto;
        width: auto;
        color: #fff;
        padding: 10px;
    }
}