<mat-toolbar color="primary">

    <button mat-button (click)="toggleSideNav.emit()">
        <mat-icon>reorder</mat-icon>
    </button>
    <span>Архів</span>

    <span class="example-fill-remaining-space"></span>

    <mat-list class="list-horizontal">
        <mat-list-item *ngFor="let item of nav">
            <a mat-button routerLink="{{item.path}}">
                <span>{{item.title}}</span>
                <mat-icon>{{item.icon}}</mat-icon>
            </a>
        </mat-list-item>
    </mat-list>
    <button mat-button *ngIf="user && user.authenticate">
      <span>Вийти</span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
