<div class="grid-container">
    <h1 class="mat-h1">Список спарв фонду: </h1>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile colspan="1" rowspan="1" *ngFor="let card of cards">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Номер фонду </div>
            <div>Кількість спав фонду</div>
            <button mat-button class="watch-more-button">Дивитися деталі</button>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator #paginator
                [length] = "length"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                [pageSizeOptions]="[3, 12, 24, 100]"
                (page)="pageEvent = togglePage($event)">
    </mat-paginator>
</div>
  