.home-wrapper {
    background-image: url('../../assets/IMG_0913.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 10000px;
}