<div class="grid-container">
  <div class="section-header">
    <h1 class="mat-h1">Фонди</h1>
  </div>
  <div class="dialog-bg" *ngIf="dialogVisible">
    <div class="dialog">
      <h4>Для додавання в закладки авторизуйтесь</h4>
      <button mat-flat-button (click)="closeDialog()" color="primary">
        <span>ок</span>
      </button>
    </div>
  </div>
  <mat-grid-list cols="3" rowHeight="160px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card" style="display: flex; flex-direction: column; justify-content: space-between;">
        <mat-card-header>
          <mat-card-title>
            {{card.fondName}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>Номер фонду: {{card.fondNumber}}</p>
          <p>Кількість справ: {{card.caseQuantity}}</p>
          <p>Дати: {{card.startDate | date}}  - {{card.endDate | date}}</p>
        </mat-card-content>
        <mat-card-actions style="padding-bottom: 20px;">
          <button [routerLink]="card._id" mat-flat-button color="primary">
            <mat-icon>remove_red_eye</mat-icon>
            <span>Переглянути</span>
          </button>
          <button mat-mini-fab color="primary" (click)="addToProfile(card._id)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
