
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.icon {
  font-size: 50px;
}
.mat-card-header {
  display: flex;
  justify-content: space-around;
}
.mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.section-header {
  padding: 20px 50px;
  background: #3f51b5;
  margin-bottom: 20px;
  color: #ffffff;
}

.dialog-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba($color: #000000, $alpha: .5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  padding: 6px 12px;
  border-radius: 5px;
  
}