<section class="profile-section">
  <mat-card>
    <span>Особистий кабінет</span>
    <span class="fill-remaining-space"></span>
  </mat-card>
  <aside>
    <mat-card class="example-card">
      <mat-card-content class="mat-card-section">
        <div>
          <img src="../../assets/default-user-avatar.png" alt="avatar" width="70" height="70">
        </div>
        <div>
          <span class="mat-h1">{{currentUser.firstName}} {{currentUser.secondName}}</span>
          <br>
          <span>Дата приєднання: {{currentUser.connectionDate | date}}</span>
        </div>
      </mat-card-content>
      
    </mat-card>
  </aside>
  <div class="content">
    <mat-tab-group>
      <mat-tab label="Збережені фонди">
        <mat-selection-list #shoes>
          <mat-list-option *ngFor="let item of fonds" [routerLink]="'/fonds/' + item._id">
            Назва фонду: {{item.fondName}} > Роки існування: {{item.startDate | date}} {{ item.endDate | date}}
            > Кількість справ {{item.caseQuantity}}
          </mat-list-option>
        </mat-selection-list>
      </mat-tab>
      <mat-tab label="Збережені справи">
        <mat-selection-list>
          <mat-list-option *ngFor="let item of cases" [routerLink]="'/fonds/' + item._id">
            Заголовок спарви: {{item.caseTitle}}
          </mat-list-option>
          <mat-list-option *ngIf="cases.length == 0">
            <p>Справ не додано</p>
          </mat-list-option>
          </mat-selection-list>
      </mat-tab>
      <mat-tab label="Коментарі">
        <mat-selection-list #shoes>
          <mat-list-option *ngFor="let item of reviews">
              <span routerLink="/forum/topic/{{item._id}}" routerLinkActive="router-link-active">{{item.title}}</span>
          </mat-list-option>
        </mat-selection-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
