<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [class.night]="nightMode" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [class.night]="nightMode">Навігація</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" [class.night]="nightMode">
        <mat-icon>home</mat-icon>
        <span>Головна</span>
      </a>
      <a mat-list-item [routerLink]="['/fonds']" [class.night]="nightMode">
        <mat-icon>list</mat-icon>
        <span>Фонди</span>
      </a>
      <a mat-list-item [routerLink]="['/forum']" routerLinkActive="router-link-active"  [class.night]="nightMode">
        <mat-icon>question_answer</mat-icon>
        <span>Форум</span>
      </a>
      <a mat-list-item [routerLink]="['/forum']" routerLinkActive="router-link-active"  [class.night]="nightMode">
        <mat-icon>support_agent</mat-icon>
        <span>Підтримка</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [class.night]="nightMode">
    <mat-toolbar color="primary" [class.night]="nightMode">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span [routerLink]="['/']">
        Архівний відділ
      </span>
      <span class="fill-remaining-space"></span>
      <div *appShowAuthed="false">
        <button [routerLink]="'/auth'" mat-flat-button color="primary">
          <mat-icon>lock_open</mat-icon>
          <span>Увійти</span>
        </button>
        <button [routerLink]="'/signup'" mat-flat-button color="primary">
          <mat-icon>supervisor_account</mat-icon>
          <span>Зареєструватися</span>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="header_nav_button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="toggleMode()">
            <mat-icon>nights_stay</mat-icon>
            <span>Нічний режим</span>
          </button>
        </mat-menu>
      </div>
      <div *appShowAuthed="true">
        <button [routerLink]="'/profile'" mat-flat-button color="primary">
          <img src="../../assets/default-user-avatar.png" height="40" width="40" class="user-avatar" alt="avatar">
          <span>{{currentUser.firstName}} {{currentUser.secondName}}</span>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="header_nav_button">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logOut()" mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Вийти</span>
          </button>
          <button mat-menu-item (click)="toggleMode()">
            <mat-icon>nights_stay</mat-icon>
            <span>Нічний режим</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
