<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
        <button mat-button (click)="sidenav.toggle()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <mat-list class="menu-list">
            <mat-list-item>
                <a mat-button [routerLink]="['/']" class="menu-list-link" routerLinkActive="router-link-active" >Головна</a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button routerLink="fonds" class="menu-list-link" routerLinkActive="router-link-active" >Список фондів</a>
            </mat-list-item>
            <mat-list-item>
                <a mat-button [routerLink]="['/']" class="menu-list-link" routerLinkActive="router-link-active" >Виставки</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (toggleSideNav)="sidenav.toggle()"></app-header>
        <ng-progress [color]="'#e67e22'"
                    [thick]="true"
                    [ease]="easeInSine"
                    [trickleSpeed]="500"
                     [spinner]="false"
                     ></ng-progress>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>