.main-banner-wrapper {
  background-image: url("../../assets/397757.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
.main-banner-wrapper-mask {
  background: rgba(0, 0, 0, .8);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
}
